.centered {
    height: 20%;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
}
.new-centered {
    height: 80%;
    justify-content: center;
    position: fixed;
    bottom: 20%;
    top: 5%;
    right:30%;
    left:15%;
    display: block;
    flex-direction: row;
    width: 70%;
    margin: 10px auto;
    
    /* background-color:red; */
    border:5px solid;
}

.box{
    width: 80%;
    justify-content: center;
    
    

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: transparent;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    outline: none;
}

.instructions {
    position: fixed;
    top: 5%;
    font-size: 1.25em;
    color: white;
    z-index: 999999;
}
